/* Reset & Global Styles */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  transition: background-color 0.3s, color 0.3s;
}
