/* Header Styles */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #7e7e7e;
  padding: 10px 20px;
  color: white;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ui-buttons {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
